body {
  font-family: "Georgia", "serif";
  line-height: 1.25;
}

.instanceIdentificationBanner {
  display: none;
}

.instanceIdentificationBanner.visible {
  display: block;
  background-color: red;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

#controls {
  margin: 0 0 1em 0;
}

.show + .show {
  margin-top: 1.5em;
}

.show-title {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
}

.show-desc {
  font-size: 1em;
  white-space: nowrap;
  margin: 0 0 0.5em 0;
}

.show-season + .show-season {
  margin-top: 0.25em;
}


/* Synopsis */

#synopsis-popup {
  display: none;
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
  border-radius: 0.5em;
  padding: 1em 1em 0.5em 1em;
  background-color: #446;
  color: white;
  box-shadow: 0.5em 0.5em 0.5em #777;
}

#synopsis-episode-title-quoted {
  font-size: 1.25em;
  font-weight: bold;
}

#synopsis-show-title {
  font-size: 1em;
  font-style: italic;
}

#synopsis-mark-watched {
  margin-top: 0.5em;
}

#synopsis-mark-watched-link {
  color: yellow;
}

#synopsis-body {
  font-size: 1em;
  border: 1px solid #777;
  padding: 0.8em 0.8em;
  margin-top: 0.75em;
  max-height: 10em;
  overflow: scroll;
}
