body {
  margin: 0;
  font-family: "Georgia", "serif";
  line-height: 1.25;
}

body.favoritesMode {
  background-color: #fff3f3;
}

#content {
  padding: 0.5em;
}

.instanceIdentificationBanner {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  padding: 0 2em;
  opacity: 0.7;
  background-color: red;
  color: white;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls {
  margin: 0 0 1em 0;
}

.show:not(:last-child) {
  margin-bottom: 1.5em;
}

.show-title {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 0.75em 0 0;
}

img#show-favorites {
  height: 1.25em;
  vertical-align: middle;
}

img.edit {
  height: 1em;
  margin: 0 0.25em;
  opacity: 0.3;
  cursor: pointer;
}

img.edit.highlight {
  opacity: 1.0;
}

.show-desc {
  font-size: 1em;
  white-space: nowrap;
  margin: 0 0 0.5em 0;
}

.show-season ~ .show-season {
  margin-top: 0.25em;
}


/* Synopsis */

#synopsis-popup {
  display: none;
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
  border-radius: 0.5em;
  padding: 1em 1em 0.5em 1em;
  background-color: #446;
  color: white;
  box-shadow: 0.5em 0.5em 0.5em #777;
}

#synopsis-episode-title-quoted {
  font-size: 1.25em;
  font-weight: bold;
}

#synopsis-show-title {
  font-size: 1em;
  font-style: italic;
}

#synopsis-toggle-watched {
  margin-top: 0.5em;
}

#synopsis-toggle-watched-link {
  color: yellow;
}

#synopsis-body {
  font-size: 1em;
  border: 1px solid #777;
  padding: 0.8em 0.8em;
  margin-top: 0.75em;
  max-height: 10em;
  overflow: scroll;
}


/* Form: edit/add show info */

#header .title {
  font-style: italic;
}

.form .item input, .form .item label, .form .item div {
  display: block;
}

.form .buttons {
  padding-top: 1em;
}

.form .item {
  margin-bottom: 1em;
}

.form label {
  font-size: 80%;
  font-weight: bold;
}

.form input[type=text] {
  line-height: 1.25em;
  min-width: 30em;
  font-family: "Georgia", "serif";
  font-size: 120%;
}

.form input, .form textarea {
  border: 1px solid #ccc;
  padding: 0.25em;
  border-radius: 0.25em;
}

.form input[type=text]:focus, .form textarea:focus {
  border-color: black;
  outline: none;
}

.form input[type=text][name=title], .form input[type=text][name=tvmazeId] {
  min-width: 15em;
}

.form textarea {
  width: 30em;
  height: 12em;
  font-family: "Courier New", "monospace";
  font-size: 120%;
  border: 1px solid #ccc;
}

.form .explanation {
  font-size: 80%;
  color: #888888;
}

.form button {
  font-size: 100%;
  padding: 0.3em;
}
