@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

body {
  font-family: "Alegreya";
}

.instanceIdentificationBanner {
  display: none;
}

.instanceIdentificationBanner.visible {
  display: block;
  background-color: red;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

#controls {
  margin: 0 0 1em 0;
}

.show + .show {
  margin-top: 1.5em;
}

.show-title {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
}

.show-desc {
  font-size: 1.25em;
  white-space: nowrap;
  margin: 0 0 0.5em 0;
}

.show-season + .show-season {
  margin-top: 0.25em;
}


/* Synopsis */

#synopsis-popup {
  display: none;
  position: fixed;
  bottom: 0.5em;
  left: 1em;
  right: 1em;
  border: 6px solid #444;
  border-radius: 0.7em;
  padding: 1em 1em 0.5em 1em;
  background-color: #eee;
}

#synopsis-episode-title-quoted {
  font-size: 150%;
  font-weight: bold;
}

#synopsis-show-title {
  font-size: 130%;
  font-weight: bold;
  font-style: italic;
}

#synopsis-body {
  font-size: 120%;
  border: 1px solid #777;
  padding: 0.25em 0.5em;
  margin-top: 0.5em;
  max-height: 8em;
  overflow: scroll;
}
